version: '3.8'

services:
  backend:
    build:
      context: ./python-backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./python-backend/fonts:/app/fonts
    deploy:
      resources:
        limits:
          memory: 512M
    restart: unless-stopped
    networks:
      - pdf-net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=https://my-images-python-backend.onrender.com
    deploy:
      resources:
        limits:
          memory: 128M
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - pdf-net

networks:
  pdf-net:
    driver: bridge
